
.idea/Pycharmprojects.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/bachon1024.iml
.idea/workspace.xml
.git
.idea
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/misc.xml
.idea/Pycharmprojects.iml
.idea/workspace.xml
